@media (max-width: 600px) {
  .post {
    min-width: 33.33%
}}

.container {
  /* Setting display to grid */
  display: grid;
  /* Setting up rows and columns */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas:
    "hd hd hd"
    "nav nav nav"
    "card main main"
    "card main main"
    "ft ft ft";
  gap: 10px;
}

.box {
  max-width: 300px;
  grid-area: main;
  /* assigning flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  text-align: center;
}